@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background-color: #ffffff;
}

.navigation-link {
	color: #000000;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-decoration: none;
}

.welcome {
	text-align: center;
}

.welcome-banner {
	background-color: #ffffff;
	color: #000000;
	background-image: url(../images/index-background.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 485px;
}

.welcome-divider {
	width: 100%;
	height: 90px;
	object-fit: cover;
}

.advantages {
	text-align: center;
}

.advantages-item h3 {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}

.advantages-item p {
	font-size: 18px;
	line-height: 21px;
}

.advantages-item-1,
.advantages-item-5 {
	background-color: #83B3D3;
	color: #ffffff;
}

.advantages-item-2,
.advantages-item-4,
.advantages-item-6,
.advantages-item-8 {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-3 {
	background-color: #ffffff;
}

.advantages-item-7 {
	background-color: rgba(131, 179, 211, 0.2);
}

.booking {
	text-align: center;
	color: #333333;
}

.booking-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
}

.booking-description {
	font-size: 22px;
	line-height: 26px;
}

.booking-button {
	text-transform: uppercase;
	color: #ffffff;
	background-color: #756257;
	border: 0;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	font-family: "PT Sans", sans-serif;
}


.subscription {
	text-align: center;
}
.subscription-index {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 411px;
	color: #ffffff;
}

.subscription-title {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
}

.subscription-description {
	font-size: 22px;
	line-height: 26px;
}

.footer-phone {
	text-align: center;
}

.footer-phone a {
	text-decoration: none;
	color: #000000;
	font-size: 40px;
	line-height: 40px;
}


.header-catalog {
	background-image: url(../images/catalog-background.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #ffffff;
}

.header-title {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
}

.breadcrumbs-link {
	text-decoration: none;
}

.filter-group {
	border: 0;
}

.filter-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
}

.filter-label {
	line-height: 23px;
}

.apply-button {
	background-color: #83B3D3;
	text-transform: uppercase;
	color: inherit;
	font-family: inherit;
	border: 0;
	font-weight: 700;
	font-size: 16px;
}

.reset-button {
	color: inherit;
	font-family: inherit;
	background-color: transparent;
	border: 0;
}

.sorting-title {
	font-size: 30px;
	line-height: 39px;
	color: #000000;
}

.product-cards-title {
	font-size: 24px;
	line-height: 31px;
	color: #000000;
}

.product-cards-type,
.product-cards-price {
	line-height: 23px;
}

.product-card-button {
	background-color: #756257;
	color: #ffffff;
	text-decoration: none;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700;
}

.product-favorite-button {
	background-color: #83B3D3;
	color: #ffffff;
	border: 0;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
}

.product-favorite-button-current {
	background-color: #7DB54F;
}

.product-cards-rating {
	background-color: #F2F2F2;
	text-transform: uppercase;
	font-size: 16px;
}

.load-more-button {
	background-color: #83B3D3;
	color: #ffffff;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	font-family: inherit;
	border: 0;
	font-weight: 700;
	width: 100%;
	height: 60px;
}

.pagination-item {
	background-color: #83B3D3;
	width: 55px;
	height: 55px;
	text-align: center;
}

.pagination-link {
	color: #ffffff;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}